@import "./utils/variables";
@import "./base/normalize";
@import "./utils/placeholders";
@import "./components/general";
@import "./components/header";
@import "./components/logo";
@import "./components/contact";
@import "./components/hero";
@import "./components/buttons";
@import "./components/features";
@import "./components/work";
@import "./components/social";
@import "./components/team";
@import "./components/clients";
@import "./components/filter";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/supscribe";
@import "./components/modal";
@import "./components/form";







