.hero__button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;
    border: none;
    background-color: $accent-color;
    color: $white-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #188ce8;
    }
}

/*---------------- button portfolio---------------- */
.filter__button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $title-text-color;
    background-color: $secondary-background-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
    color: $white-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

// footer-button//
.subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-left: 12px;
    padding: 10px 28px;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: $accent-color;
    color: $white-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #188ce8;
    }
}

// modal-button //
.modal__button {
    &--close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;

        &:focus,
        &:hover {
            fill: $accent-color;
        }
    }
    &--submit  {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 52px;
        min-width: 200px;
        border-radius: 4px;
        border: none;
        background-color: $accent-color;
        color: $white-text-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: #188ce8;
        }
    }
}
