.work {
    @extend %section;
    padding-top: 0;

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        color: $title-text-color;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }
    &__list {
        @extend %list;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
    }
    &__heading {
        position: absolute;
        bottom: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-text-color;
        background-color: rgba(47, 48, 58, 0.8);
        height: 70px;
        width: 100%;
        margin: 0;
    }
}
