$primary-text-color: #757575;
$title-text-color: #212121;
$primary-background-color: #C4C4C4;
$secondary-background-color: #f5f4fa;
$black-background-color: #2f303a;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$black: #000000;
$border-description-portfolio: #eeeeee;
$icon-color: #AFB1B8;